{% extends 'core/product.html' %}

{% block modal %}
<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display:block">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end">
                    <a class="btn-close" href="{% url 'product' %}"></a>
                </div>
                <div class="d-grid container w-75">
                    <form method="post">
                        {% csrf_token %}
                        <h4 class="text-center mb-4">Está seguro que desea eliminar el producto {{producto.nombre}}</h4>
                        <div class="w-100 d-flex justify-content-center">
                            <button type="submit" class="btn bg-danger mt-4 m-auto">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}